h2 {
  visibility: hidden;
}

#virtual-keyboard {
  position: fixed;
  align-items: center;
  width: 35%;
  padding: 5px 100px;
  background: rgb(223, 219, 219);
  border-style: solid 5px;
  border-color: blue;
  margin-left: 26%;
  height: 300px;
  font-size: 15px;
  color: rgb(88, 88, 247);
  font-size: larger;
  text-align: start;
  padding-bottom: 20px;
  margin-top: 0;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 60px;
  max-width: 100px;
  margin: 2px;
  border-radius: 4px;
  border: 10px whitesmoke;
  background: black;
  color: whitesmoke;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--extra-wide {
  width: 76%;
  max-width: 700px;
}

.keyboard__key--wide {
  width: 20%;
}

.keyboard__key--wide-3 {
  width: 163px;
  max-width: 700px;
}

.keyboard__key--small {
  width: 40px;
}

.keyboard__key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.span {
  height: 100%;
}

.q {
  margin-right: 6.5%;
}
